.flashcard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
  background-color: var(--card-bg);
  margin-bottom: 20px; /* Add space between flashcards */
  padding: 10px; /* Optional: Add padding inside the flashcard */
}

.flashcard-inner {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front, .flashcard-back {
  position: absolute;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--card-bg-front); /* Use a CSS variable for front card color */
}

.flashcard-back {
  transform: rotateY(180deg);
  background-color: var(--card-bg-back); /* Use a CSS variable for back card color */
}

/* Light mode variables */
:root {
  --card-bg: #fff;
  --card-bg-front: #fafafa;
  --card-bg-back: #f0f0f0;
}

/* Dark mode variables */
[data-theme='dark'] {
  --card-bg: #1e1e1e;
  --card-bg-front: #2e2e2e;
  --card-bg-back: #1e1e1e;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  flex: 1; /* This makes the container expand to fill available space */
  display: flex;
  flex-direction: column;
}
