/* styles.module.css */

.body {
  margin: 0;
  padding: 0 10px;
  height: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  width: fill;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation span {
  margin: 0 10px;
}

.navigation a {
  text-decoration: none;
  color: inherit;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6;
}

.navigation a:hover {
  text-decoration: underline;
}

.main {
  min-height: 75vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allows the content to wrap neatly */
}

.textContainer {
  width: 50%; /* Adjust based on your layout */
  padding-right: 10px; /* Add padding if needed */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  text-align: center;
}

.textContainer p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6; /* Helps with readability */
}

.textContainer h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "DM Serif Text", serif;
}

.body h1 {
  margin-bottom: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 1.3rem;
  line-height: 1.6;
}

.button {
  margin: 5px 0px;
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #0751d1;
  color: white;
  font-size: medium;
  font-weight: 700;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 1.1rem;
  line-height: 1.6;
}

.button a{
  text-decoration: none;
  color:inherit;
}

.footer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fill;
}

.footer p, .footer h3 {
  text-align: center;
  font-size: small;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  line-height: 1.6;
}

.footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.footer div a {
  text-decoration: none;
  color: inherit;
  font-size: medium;
  font-weight: 400;
  margin: 5px 20px;
}
